@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Exo 2", sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
}
